.container {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.container span {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em;
}